body {
	background: #fffdf0; /*white*/
	text-align: left;
	font-size: 14pt;
}

/* Footer Styles */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
	height: 80px;
    background-color: #d38fa4;
	color: #fffdf0;
	font-size: 10pt;
	padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-images {
    display: flex;
    justify-content: center;
    width: 80%; /* Set the width of the images container */
	height: 100%; /* Make the images container take the full height of the footer */
}

.footer-images img {
    height: 100%; /* Images will take the full height of the footer */
    width: auto; /* Maintain aspect ratio by adjusting width */
    object-fit: contain; /* Maintain aspect ratio of images */
    margin: 0 10px; /* Add space between images */
}

#header {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #a53858;
	font-size: 40pt;
}

#directory {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #fffdf0;
	font-size: 20pt;
	font-style: bold;
	background-color: #c05c7a;
	padding-left: 5%;
	padding-right: 5%;
	height: 50px;
}

#header > * {
	padding: 5px;
}

#content-box {
	width: 90%;
	height: auto;
	margin: auto;
	padding: 10px;
}

h1 {
	text-align: center;
	font-family: "Georgia";
	font: 24pt;
	color: #474747; /* Dark Gray*/
    text-align: left;
}

h2 {
	font-family: "Georgia";
	font: 20pt;
	color: #474747;
	text-align: left;
}

h3 {
	font-family: "Georgia";
	color: #474747;
}

hr {
	height: 4px;
	color: #474747; /* Dark Gray*/
}

p {
	text-align: left;
	text-indent: 48px;
	margin: 10px 30px 10px 30px;
}

p.large {
	font-size: 16pt;
	margin: 10px 60px 10px 60px;
}

p.emph {
	font-style: italic;
	font-size: 14pt
}

p.disp {
	font-family: "Georgia";
	font-style: italic;
	font-size: 14pt;
	text-align: center;
	line-height: 150%;
}

.container {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.container > * {
	width: 50%;
}

.box > *{
	margin: 5 5 5 5;
}

.imageDis {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.responsive {
  padding: 10px;
  width: 70%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

#gallery > * {
	width: 20%;
	position: relative;
	display: inline-block;
}

.gallery-container > img {
	width: 90%;
	height: auto;
	transition: all 0.3s ease-in-out;
}

.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 12pt; /* Adjust the size of the text as needed */
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: center;
	opacity: 0; /* Initially hide the caption */
	transition: opacity 0.3s ease-in-out;
  }


  .gallery-container:hover img {
	filter: brightness(50%) contrast(100%) grayscale(0); /* Fade to black (50% brightness) */
  }
  
  .gallery-container:hover .caption {
	opacity: 1; /* Show the caption on hover */
  }

  .video-container {
	width: 100%;
	max-width: 600px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	padding-left: 5%;
	padding-right: 5%;
	height: 0;
	overflow: hidden;
  }
  
  .video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 56.25%;
  }

.DirBtnBig {
	border-radius:8px;
	border:1px solid #fffdf0;
	display:inline-block;
	cursor:pointer;
	color:#fffdf0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:12pt;
	padding:5px 16px;
	text-decoration:none;
}
.DirBtnBig:hover {
	background-color: #ffc7d8; /*frink*/
}
.DirBtnBig:active {
	position:relative;
	top:1px;
}

.DirBtnSmall {
	background-color:#dbdbdb;
	border-radius:21px;
	border:2px solid #fffdf0;
	display:inline-block;
	cursor:pointer;
	color:#fffdf0;
	font-family:Georgia, 'Times New Roman', Times, serif;;
	font-size:16px;
	padding:7px 20px;
	text-decoration:none;
}
.DirBtnSmall:hover {
	background-color:#ffdff1;
}
.DirBtnSmall:active {
	position:relative;
	top:1px;
}

.LinkBtn {
	background-color: #DD99BA;
	border-radius:7px;
	border:3px solid #474747;
	display:inline-block;
	cursor:pointer;
	color:#474747;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:18px;
	font-weight:bold;
	padding:12px 33px;
	text-decoration:none;
}
.LinkBtn:hover {
	background-color:#ffdff1;
}
.LinkBtn:active {
	position:relative;
	top:1px;
}

.right {
	float: right;
}

.centering {
	text-align: center;
}